@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Spectral');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
  outline: none;

}

@media(max-width: 480px){

}

body{
  text-align: center;
  background-color: #f6f6f6;
}

.header-div{
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 50px;
  text-align: right;
}

#sign-in{
  display: none;
}
.sign-in{
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  background-color: skyblue;
  border-radius: 100%;
  cursor: pointer;
  z-index:34;
}
.sign-in > span{
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: white;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.5s;
}
.sign-in > span::before{
  content: '';
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 4px solid white;
  border-top: 4px solid white;
  top: -5px;
  left: 15px;
  transform: rotate(45deg);
}

#sign-in:checked + label > span{
  transform: rotate(495deg);
}
#sign-in:checked + label + label{
  display: block;
}
#sign-in:checked ~ .login-div{
  display: flex;
}

.username{
  display: inline-block;
  text-align: right;
  text-decoration: none;
  margin-top: 20px;
  margin-right: 20px;
  color: blue;
  cursor: pointer;
}

.invisible{
  display: none;
}

.login-div{
  display: none;
  position: absolute;
  right: 0px;
  left: 0px;
  margin: auto;
  top: 200px;
  width: 96vw;
  max-width:360px;
  height: 240px;
  background-color: white;
  border-bottom: 2px solid #f0f0f0;
  //box-shadow: 3px 3px 3px gray;
  border-radius: 5px;
  z-index: 33;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.overlay{
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 32;
  opacity:0.5;
}

.login-title{
  width: 80%;
  font-size: 18pt;
  color: lightgray;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 1px solid lightgray;
}


.oauth-button{
  display: flex;
  align-items: center;
  width: 300px;
  height: 60px;
  background-color: red;
  text-align: left;
  border-radius: 5px;
  overflow: hidden;
  //justify-content: center;
  cursor: pointer;
}
.oauth-button > img{
  width: 50px;
  height: auto;
  display: inline-block;
  margin: 0px 5px;
}
.oauth-button > p{
  text-align: center;
  font-size: 14pt;
  color: white;
  display: block;
  margin: 0px 25px;

}
.facebook{
  background-color: #3B5998;
}
.google{
  background-color: #dd4b38;
}










.title-div{
  margin: 40px 0px;
}
.title-div *{
  font-family: 'Spectral', serif;
  font-size: 54pt;
}
h1 > red{
  color: red;
}
h1 > yellow{
  color: #fad300;
}
h1 > blue{
  color: darkblue;
}






.search-div{
  display: inline-block;
  position: relative;
  margin: 50px 0;
}

.input-search{
  background-color: white;

  width: 90vw;
  max-width: 500px;
  height: 50px;
  padding: 0px 50px 0px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #f0f0f0;

}


.input-search + span{
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 3px solid #4285f4;
  top: 14px;
  right: 18px;
  border-radius: 100%;
  box-sizing: border-box;
}
.input-search + span::before{
  content: '';
  position: absolute;
  display: inline-block;
  width:10px;
  height: 3px;
  background-color: #4285f4;
  top: 12px;
  right: -8px;
  border-radius: 5px;
  transform: rotate(45deg);

}
.search_icon{
  width :50px;
  height : 50px;
  position : absolute;
  right: 0;
  top : 0;
  cursor:pointer;
}
