@font-face{
  font-family: 'NanumSquare';
  src: url(/fonts/NanumSquareR.ttf) format('truetype');
}

*{
  margin:0;
  padding:0;
  outline:none;

}
body{
  background-color: #636efc;
  font-family: NanumSquare;
}

.top_div{
  text-align: right;

}

.login{
  color:white;
  font-size: 14pt;
  margin-top: 30px;
  margin-right: 40px;
}
.main_div{
  text-align: center;
  padding-top: 190px;
  padding-bottom: 30px;
}

.main_div img{
  width: 150px;
  height: 150px;
  padding-bottom: 5px;
  cursor: pointer;
}




.main_div p{
  color: white;
  font-size: 20pt;
}

.search_div{
  text-align: center;

}

.keyboard{
  /*width: 90vw;
  max-width: 450px;*/
  width: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12pt;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  transition: all 1s;
}
.long{
  width: 450px;
  padding-left: 20px;
  padding-right: 20px;
}
