*{
  margin:0;
  padding:0;
  outline:none;

}
body{
  background-color: #636efc;
}

.top_div{
  text-align: right;

}

.login{
  color:white;
  font-size: 14pt;
  margin-top: 30px;
  margin-right: 40px;
}
.main_div{
  text-align: center;
  padding-top: 190px;
  padding-bottom: 15px;
}

.main_div img{
  width: 150px;
  padding-bottom: 5px;
}

.main_div p{
  color: white;
  font-size: 20pt;
}

.search_div{
  text-align: center;

}

.keyboard{
  width: 450px;
  padding: 12px 10px;
  font-size: 12pt;
  border-radius: 10px;
  border: none;
}
