@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Spectral');
* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    outline: none;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.8;
    background-color: #fff;
    z-index: 99;
}

#loading-image {
    position: relative;
    top: 30%;
    display: inline-block;
    text-align: center;
    z-index: 100;
}



body {
    text-align: center;
    background-color: #f6f6f6;
}

a {
    text-decoration: none;
}

.title-div,
.blank_div {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 150px;
}

.search-div {
    display: inline-block;
    position: relative;
    margin: 50px 0;
}

@media(max-width :860px) {
    .title-div {
        display: block;
        width: 100vw;
        margin-top: 10px;
    }
    .blank_div {
        display: none;
    }
    .search-div {
        margin: 10px 0px 20px 0px;
        /*위아래 마진만*/
    }
}


.title-div * {
    font-family: 'Spectral', serif;
    font-size: 21pt;
}

h1>red {
    color: red;
}

h1>yellow {
    color: #fad300;
}

h1>blue {
    color: darkblue;
}


.header-div {
    background-color: red;
    width: 100vw;
    height: 80px;
}




.input-search {
    background-color: white;

    width: 90vw;
    max-width: 500px;
    height: 50px;
    padding: 0px 50px 0px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #f0f0f0;
}


.input-search+span {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 3px solid #4285f4;
    top: 14px;
    right: 18px;
    border-radius: 100%;
    box-sizing: border-box;
}

.input-search+span::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 3px;
    background-color: #4285f4;
    top: 12px;
    right: -8px;
    border-radius: 5px;
    transform: rotate(45deg);
}


hr {
    border: 1px solid #f0f0f0;
    box-shadow: none;
}

.news-region{
    display: inline-block;
    background-color: white;
    margin: 20px;
    max-width: 800px;
    width: 90vw;
    text-align: center;
}

.news {
    width: 100%;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f0;
}

.news b {
    color: blue;
}

.news-title {
    display: block;
    font-size: 12pt;
    padding: 0px 10px 10px 10px;
    font-weight: bold;
    text-decoration: none;
    color: darkblue;
    cursor: pointer;
}

.news-title:hover {
    text-decoration: underline;
}

news-description {
    display: block;
    font-size: 10pt;
}

news-date {
    display: block;
    text-align: right;
    font-size: 9pt;
    color: gray;
}

.search_icon {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}


.more-region{
    max-width: 800px;
    width: 90vw;
    text-align: center;
    padding : 10px 0px;
    font-size: 20px;
}

/* 더 보기 버튼 css */
.more {
    display: inline-block;
    max-width: 700px;
    width: 70vw;
    font-weight: bold;
    padding: 10px 0px;
    background-color: #2496dc;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 12pt;
    border-bottom: 2px solid #128bd1;
    box-sizing: border-box;
    cursor: pointer;
}
