img{
   width: auto; height: auto;
   max-width: 300px;
   max-height: 200px;
   margin : 5px 10px;
}



.image-region{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
